nav.nav
  ul
    //- li
    //-   a(href='#', class='icon-logo menu') Menu
    li
      a(href='/', class='entypo-home') Home
    li
      a(href='/articles', class='entypo-newspaper') Articles
    li
      a(href='/categories', class='entypo-list') Categories
    li
      a(href='/manage', class='entypo-cog') Management
