extend layout

block content
  h1 #{title}
  ul.errors
    if errors
      each error, i in errors
        li.alert.red #{error.msg}
  form(method='post', action='/add/category')
    label
    input(name='title', type='text', placeholder='Title')

    label
    textarea(name='description', placeholder='Description')

    button(class='', type='submit', name='submit', value='Save') Save
    a(href='/categories') Back