extend layout

block content
  h1 #{title}
  form(method='post', action='/edit/category/' + category._id)
    .input-group
      input(name='title', type='text', value=category.title)
      label Title

    .input-group
      textarea(name='description') #{category.description}
      label 

    button(class='btn green', type='submit', name='submit', value='Save') Save
    a(class='btn', href='/manage/categories') Back

    a(class='btn delete-category', href='/delete/category/' + category._id, data-cat-id=category._id) Delete
