doctype html
html
  head
    title Blog
    link(rel="stylesheet", href="/css/style.css")
  body
    section.container
      include ./includes/header.pug
      include ./includes/nav.pug
      section.main
        block content

    footer

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="/js/main.js")