@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://weloveiconfonts.com/api/?family=entypo|fontawesome);

$red: #E1332D; //#FF4136;
$green: #27ae60;
$darkGreen: #16a085;
$color: #2194E0;
$lightgrey: #efefef;
$darkGrey: #1b1e24;

$reddishPink: #E54B4B;
$reddishPink2: #EBEBD3;

/* ---------- mixins ---------- */

@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;
}

/* ---------- entypo ---------- */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* ---------- fontawesome ---------- */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

*, *:before, *:after {
  font-family: "Roboto", Arial, sans-serif;
  box-sizing: border-box;
 }

/* ---------- standard ---------- */

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

body {
  background: $lightgrey;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;

  font-size: 0.9rem;
  background-color: #ebebeb;
  padding: 20px;
  transition: font-size 0.2s ease;  
}

h1 {
  font-weight: 100;
  margin: 0;
  color: #444;
}

p {
    font-weight: 300;
}

/* ---------- nav ---------- */

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

nav {
  background: none;
  min-height: 85px;
  position: fixed;
  top:0;
  left:0;
  right:0;
  width: 100%;
  z-index: 20;
  transition: 0.35s all ease;

  ul {
  list-style: none;
  padding: 2rem;
  transition: 0.35s all ease;

  li {
    display: inline-block;
    color: black;
    padding: 0 1rem;
    font-family: sans-serif;

    a {
      color: white;
      text-decoration: none;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
    }
  }
 }
}

.scrolled {
  min-height: 10px;
  background: black;
  transition: 0.35s all ease;

  ul {
    padding: 1rem 2rem;
    transition: 0.35s all ease;
  }

  li {
    color: white;
    transition: 0.2s all ease-in-out;
  }
}

/* ---------- main ---------- */

.main {
  position: relative;
  top: 86px;
  height: 500px;
}

.card {
  background-color: white;
  max-width: 960px;
  width: 100%;
  padding: 20px;
  margin: auto;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* ---------- forms ---------- */

.input-group {
  position: relative;
  padding-top: 20px;
  margin-top: 20px;

  input, textarea, select {
    border: none;
    border-bottom: solid 1px #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px 0;
    min-height: 20px;
    background: transparent;
    outline: none;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
  }

  ::-webkit-input-placeholder {
    font-size: 15px;
    color: #aaa;
  }

  input:focus {
    outline: none;
    border-color: #20cfb8;
    box-shadow: 0 1px 0 0 #20cfb8;
  }

  input:not(:focus):valid ~ label {
    top: 5px;
    left: 0;
    font-size: 11px;
    transition: all 0.3s ease;
  }

  label {
    position: absolute;
    top: 30px;
    left: 0;
    color: #aaa;
    font-weight: 300;
    transition: transform 0.2s ease, color 0.2s ease;
  }

  label:hover {
    cursor: text;
  }

  input:focus + label {
    color: #20cfb8;
  }

  input:focus + label,
  input.active + label {
    transform: translateY(-30px);
  }

}

.input-group:after {
    content: "";
    display: table;
    clear: both;
}


/* ---------- buttons ---------- */

.btn {
  float: right;
  color: #20cfb8;
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 2px;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: opacity 0.2s ease, background-color 0.2s ease-in-out;
}

.btn:hover,
.btn:focus {
  background-color: #fbfbfb;
}

.btn:active {
  background-color: #f2f2f2;
}


/* ---------- comments ---------- */

#comment-wrapper {


  .comments {

  }
}

/* ---------- footer ---------- */

.footer {
  color: #aaa;
  opacity: 0.7;
  max-width: 960px;
  width: 100%;
  padding: 10px;
  margin: auto;
}


/* ---------- responsive ---------- */

@media (min-width:600px) {
    body {
        font-size: 1rem;
    }
}
